.footer {
  background-color: rgb(53, 50, 50);
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  color: #fff;
  margin-left: 10px;
  font-size: 18px;
}

.social-icons a:hover {
  color: #999;
}
.fimg{
display: flex;
margin: left 10px; 
}